Repository Shiroyam/aimtrain.ru: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(shared/ui): add accordion
  apps/frontend/src/shared/ui/accordion/accordion.module.scss
  apps/frontend/src/shared/ui/accordion/accordion.tsx
  apps/frontend/src/shared/ui/accordion/arrow.svg
  apps/frontend/src/shared/ui/accordion/index.ts
  apps/frontend/src/shared/ui/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(shared/ui): add comments for tabs props
  apps/frontend/src/shared/ui/tabs/tabs.tsx
Due: prettier --write, eslint --fix

fix(shared/ui): fix
  apps/frontend/src/shared/ui/input/input.tsx
Due: prettier --write, eslint --fix

feat(shared/ui): add ui for select
  apps/frontend/src/shared/ui/index.ts
  apps/frontend/src/shared/ui/select/index.ts
  apps/frontend/src/shared/ui/select/select.module.scss
  apps/frontend/src/shared/ui/select/select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(shared/config): add min and max size dot
  apps/frontend/src/shared/config/index.ts
Due: prettier --write, eslint --fix

feat(store): add sizeDot state
  apps/frontend/src/store/slices/settings.ts
Due: prettier --write, eslint --fix

feat(store): add time state
  apps/frontend/src/store/slices/stat.ts
Due: prettier --write, eslint --fix

feat(components): add ability to change the color.
  apps/frontend/src/components/dot/dot.module.scss
  apps/frontend/src/components/dot/dot.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(components): add ui for article
  apps/frontend/src/components/article/article.module.scss
  apps/frontend/src/components/article/article.tsx
  apps/frontend/src/components/article/index.ts
  apps/frontend/src/components/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(features): add ui and logic for game
  apps/frontend/src/features/game/classic/classic.module.scss
  apps/frontend/src/features/game/classic/classic.tsx
  apps/frontend/src/features/game/classic/index.ts
  apps/frontend/src/features/game/game.tsx
  apps/frontend/src/features/game/hooks.ts
  apps/frontend/src/features/game/index.ts
  apps/frontend/src/features/game/line/index.ts
  apps/frontend/src/features/game/line/line.module.scss
  apps/frontend/src/features/game/line/line.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(features): add ui and logic for dot settings
  apps/frontend/src/features/settings/appearance/appearance.tsx
  apps/frontend/src/features/settings/appearance/index.ts
  apps/frontend/src/features/settings/behavior/behavior.tsx
  apps/frontend/src/features/settings/behavior/index.ts
  apps/frontend/src/features/settings/dots/dots.tsx
  apps/frontend/src/features/settings/dots/index.ts
  apps/frontend/src/features/settings/index.tsx
Due: prettier --write, eslint --fix

feat(widgets): add ui for header
  apps/frontend/src/widgets/header/header.module.scss
  apps/frontend/src/widgets/header/header.tsx
  apps/frontend/src/widgets/header/index.ts
  apps/frontend/src/widgets/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(widgets): add ui for footer
  apps/frontend/src/widgets/footer/footer.module.scss
  apps/frontend/src/widgets/footer/footer.tsx
  apps/frontend/src/widgets/footer/github.svg
  apps/frontend/src/widgets/footer/index.ts
  apps/frontend/src/widgets/footer/license.svg
Due: prettier --write, eslint --fix, stylelint --fix

feat(pages): add ui for home page
  apps/frontend/src/pages/home/home.module.scss
  apps/frontend/src/pages/home/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(pages): add ui for settings page
  apps/frontend/src/pages/settings/index.tsx
  apps/frontend/src/pages/settings/settings.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(pages): add routes
  apps/frontend/src/App.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/route.tsx
Due: prettier --write, eslint --fix

feat(components): add blocking small screen
  apps/frontend/src/components/blocking/blocking.module.scss
  apps/frontend/src/components/blocking/blocking.tsx
  apps/frontend/src/components/blocking/index.ts
  apps/frontend/src/components/index.tsx
  apps/frontend/src/pages/home/home.module.scss
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/settings/settings.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(pages): add 404 page
  apps/frontend/src/pages/404/home.module.scss
  apps/frontend/src/pages/404/index.tsx
  apps/frontend/src/pages/route.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add favicon
  apps/frontend/index.html
  apps/frontend/public/.gitkeep
  apps/frontend/public/apple.png
  apps/frontend/public/favicon.ico
  apps/frontend/public/logo.svg
Due: none

feat: add react-error-boundary
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/fallback/fallback.module.scss
  apps/frontend/src/components/fallback/fallback.tsx
  apps/frontend/src/components/fallback/index.ts
  apps/frontend/src/components/index.tsx
  apps/frontend/src/main.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, stylelint --fix

feat(store): add redux-persistor
  apps/frontend/package.json
  apps/frontend/src/store/store.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: fix select
  apps/frontend/src/features/settings/dots/dots.tsx
Due: prettier --write, eslint --fix

fix: remove log
  apps/frontend/src/features/game/hooks.ts
Due: prettier --write, eslint --fix

chore: install storybook
  .npmrc
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.tsx
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

test(shared/ui): add stories for accordion
  apps/frontend/src/shared/ui/accordion/accordion.stories.tsx
Due: prettier --write, eslint --fix

test(shared/ui): add stories for avatar
  apps/frontend/src/shared/ui/avatar/avatar.stories.tsx
Due: prettier --write, eslint --fix

test(shared/ui): add stories for button
  apps/frontend/src/shared/ui/button/button.stories.tsx
Due: prettier --write, eslint --fix

test(shared/ui): add stories for checkbox
  apps/frontend/src/shared/ui/checkbox/checkbox.stories.tsx
  apps/frontend/src/shared/ui/input/checkbox.stories.tsx
Due: prettier --write, eslint --fix

test(shared/ui): add stories for select
  apps/frontend/src/shared/ui/select/select.stories.tsx
Due: prettier --write, eslint --fix

test(shared/ui): add stories for tabs
  apps/frontend/src/shared/ui/tabs/tabs.stories.tsx
Due: prettier --write, eslint --fix

fix: fix types
  apps/frontend/src/features/game/hooks.ts
Due: prettier --write, eslint --fix

test(components): add stories for article
  apps/frontend/src/components/article/article.stories.tsx
  apps/frontend/src/components/article/article.tsx
Due: prettier --write, eslint --fix

test(components): add stories for dot
  apps/frontend/src/components/dot/dot.stories.tsx
  apps/frontend/src/components/dot/dot.tsx
Due: prettier --write, eslint --fix

test(components): add stories for classic
  apps/frontend/src/components/frame/classic/classic.stories.tsx
  apps/frontend/src/components/frame/classic/classic.tsx
Due: prettier --write, eslint --fix

test(components): add stories for line
  apps/frontend/src/components/frame/line/line.stories.tsx
  apps/frontend/src/components/frame/line/line.tsx
Due: prettier --write, eslint --fix

test(components): add stories for stat
  apps/frontend/src/components/stat/stat.stories.tsx
  apps/frontend/src/components/stat/stat.tsx
Due: prettier --write, eslint --fix

chore: add run script for storybook
  apps/frontend/.gitignore
  apps/frontend/package.json
  package.json
  turbo.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.scss
