Repository Shiroyam/aimtrain.ru: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

Create LICENSE
  LICENSE
Due: none

Create README.md
  README.md
Due: prettier --write

chore: install tsconfigPaths
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

style: add global vars
  apps/frontend/src/assets/fonts/JetBrainsMono-Bold.ttf
  apps/frontend/src/assets/fonts/JetBrainsMono-Light.ttf
  apps/frontend/src/assets/fonts/JetBrainsMono-Medium.ttf
  apps/frontend/src/assets/fonts/JetBrainsMono-Regular.ttf
  apps/frontend/src/main.tsx
  apps/frontend/src/styles/fonts.scss
  apps/frontend/src/styles/index.scss
  apps/frontend/src/styles/normalize.scss
  apps/frontend/src/styles/vars.scss
Due: prettier --write, eslint --fix

feat(hooks): add a hook for changing theme.
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/hooks/useTheme.ts
Due: prettier --write, eslint --fix

chore: install classnames
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(shared/ui): add portal
  apps/frontend/src/shared/ui/index.ts
  apps/frontend/src/shared/ui/portal/index.ts
  apps/frontend/src/shared/ui/portal/portal.ts
Due: prettier --write, eslint --fix

refactor(shared/hooks): move hooks to the shared
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/shared/hooks/index.ts
  apps/frontend/src/shared/hooks/use-theme/index.ts
  apps/frontend/src/shared/hooks/use-theme/use-theme.ts
Due: prettier --write, eslint --fix

feat(shared/ui): add ui for button
  apps/frontend/src/shared/ui/button/button.module.scss
  apps/frontend/src/shared/ui/button/button.tsx
  apps/frontend/src/shared/ui/button/index.ts
  apps/frontend/src/shared/ui/index.ts
Due: prettier --write, eslint --fix

feat(shared/ui): add ui for checkbox
  apps/frontend/src/shared/ui/checkbox/checkbox.module.scss
  apps/frontend/src/shared/ui/checkbox/checkbox.tsx
  apps/frontend/src/shared/ui/checkbox/index.tsx
  apps/frontend/src/shared/ui/index.ts
Due: prettier --write, eslint --fix

feat(shared/ui): add ui for avatar
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/shared/ui/avatar/avatar.module.scss
  apps/frontend/src/shared/ui/avatar/avatar.svg
  apps/frontend/src/shared/ui/avatar/avatar.tsx
  apps/frontend/src/shared/ui/avatar/index.ts
  apps/frontend/src/shared/ui/index.ts
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(styles): add color for error
  apps/frontend/src/styles/vars.scss
Due: none

feat(shared/ui): add ui for input
  apps/frontend/src/shared/ui/index.ts
  apps/frontend/src/shared/ui/input/index.ts
  apps/frontend/src/shared/ui/input/input.module.scss
  apps/frontend/src/shared/ui/input/input.tsx
Due: prettier --write, eslint --fix

feat(styles): add new color
  apps/frontend/src/styles/vars.scss
Due: none

feat(shared/ui): add ui for tabs
  apps/frontend/src/shared/ui/index.ts
  apps/frontend/src/shared/ui/tabs/index.ts
  apps/frontend/src/shared/ui/tabs/tabs.module.scss
  apps/frontend/src/shared/ui/tabs/tabs.tsx
Due: prettier --write, eslint --fix

fix(shared/ui): add font and fix color
  apps/frontend/src/shared/ui/button/button.module.scss
Due: none

chore: install react-router-dom
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(shared/utils): add getRandom function
  apps/frontend/src/shared/utils/index.ts
  apps/frontend/src/shared/utils/random.tsx
Due: prettier --write, eslint --fix

fix(shared/ui): add user-select
  apps/frontend/src/shared/ui/button/button.module.scss
Due: none

fix: fix title index.html
  apps/frontend/index.html
Due: none

chore: install redux
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: install compose
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add new rules eslint
  apps/frontend/.eslintrc.cjs
Due: none

fix: add scss files
  .lintstagedrc
Due: none

chore: fix lint-staged
  .lintstagedrc
Due: none

styles: add height for body
  apps/frontend/src/styles/normalize.scss
Due: none

feat(store): init store
  apps/frontend/src/store/hooks.ts
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/store.ts
Due: prettier --write, eslint --fix

feat(store): add slice settings
  apps/frontend/src/store/slices/index.ts
  apps/frontend/src/store/slices/settings.ts
  apps/frontend/src/store/store.ts
Due: prettier --write, eslint --fix

feat(store): add stat slice
  apps/frontend/src/store/slices/index.ts
  apps/frontend/src/store/slices/stat.ts
  apps/frontend/src/store/store.ts
Due: prettier --write, eslint --fix

feat(shared/config): add config data
  apps/frontend/src/shared/config/index.ts
Due: prettier --write, eslint --fix

feat(assets/svg): add logo
  apps/frontend/src/assets/svg/logo.svg
Due: none

feat: add providers for react-router, redux
  apps/frontend/src/main.tsx
Due: prettier --write, eslint --fix

feat(components): add ui for stat
  apps/frontend/src/components/stat/index.ts
  apps/frontend/src/components/stat/stat.module.scss
  apps/frontend/src/components/stat/stat.tsx
Due: prettier --write, eslint --fix

feat(components): add ui for dot
  apps/frontend/src/components/dot/dot.module.scss
  apps/frontend/src/components/dot/dot.tsx
  apps/frontend/src/components/dot/index.ts
Due: prettier --write, eslint --fix

feat(components): add ui for classic frame
  apps/frontend/src/components/frame/classic/classic.module.scss
  apps/frontend/src/components/frame/classic/classic.tsx
  apps/frontend/src/components/frame/classic/index.ts
  apps/frontend/src/components/frame/index.ts
Due: prettier --write, eslint --fix

feat(components): add ui for line frame
  apps/frontend/src/components/frame/index.ts
  apps/frontend/src/components/frame/line/index.ts
  apps/frontend/src/components/frame/line/line.module.scss
  apps/frontend/src/components/frame/line/line.tsx
Due: prettier --write, eslint --fix

feat(components): add export for components
  apps/frontend/src/components/index.tsx
Due: prettier --write, eslint --fix

feat(components): add time to stat component
  apps/frontend/src/components/stat/stat.module.scss
  apps/frontend/src/components/stat/stat.tsx
Due: prettier --write, eslint --fix

feat(features): add menu for control mode game
  apps/frontend/src/features/mode/index.ts
  apps/frontend/src/features/mode/mode.module.scss
  apps/frontend/src/features/mode/mode.tsx
Due: prettier --write, eslint --fix
