Repository Shiroyam/aimtrain.ru: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

chore: install vitest
  apps/frontend/.eslintrc.cjs
  apps/frontend/package.json
  apps/frontend/test/setup.ts
  apps/frontend/tsconfig.json
  apps/frontend/vitest.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

test(features): add test for game hook
  apps/frontend/src/features/game/hooks.test.tsx
Due: prettier --write, eslint --fix

chore: add github action
  .github/workflows/check.yml
Due: none

Update main.tsx
  apps/frontend/src/main.tsx
Due: prettier --write, eslint --fix

feat: add meta tag
  apps/frontend/index.html
Due: none

chore: add vercel config
  apps/frontend/vercel.json
Due: prettier --write

chore: install vercel analytics
  apps/frontend/package.json
  apps/frontend/src/main.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add meta og
  apps/frontend/index.html
  apps/frontend/src/main.tsx
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

feat: add yandex metrica
  apps/frontend/index.html
Due: none

feat: add ym
  apps/frontend/index.html
  apps/frontend/src/features/game/hooks.ts
  apps/frontend/src/features/mode/mode.tsx
  apps/frontend/src/main.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add btn
  apps/frontend/src/features/settings/index.tsx
Due: prettier --write, eslint --fix

feat: add new ym
  apps/frontend/src/features/game/hooks.ts
  apps/frontend/src/features/mode/mode.tsx
  apps/frontend/src/features/settings/index.tsx
Due: prettier --write, eslint --fix

feat: add ym
  apps/frontend/index.html
  apps/frontend/src/features/game/hooks.ts
  apps/frontend/src/features/mode/mode.tsx
  apps/frontend/src/features/settings/index.tsx
  apps/frontend/src/main.tsx
Due: prettier --write, eslint --fix

feat: add ym
  apps/frontend/src/features/settings/index.tsx
Due: prettier --write, eslint --fix

feat: add form
  apps/frontend/index.html
  apps/frontend/public/pageviews.png
  apps/frontend/src/pages/form/form.module.scss
  apps/frontend/src/pages/form/index.tsx
  apps/frontend/src/pages/route.tsx
  apps/frontend/src/widgets/footer/footer.tsx
  apps/frontend/src/widgets/header/header.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add tag
  apps/frontend/index.html
Due: none

add debug mode
  apps/frontend/index.html
Due: none
